
* {
  font-family: 'Courier new', monospace;
}

body {
  margin: 0;
  padding: 0;
  background-color: #13181c;;
  color: #d1d5db;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Container */
.container {
  background-color: #111827;
  border: 1px solid #1f2937;
  border-radius: 8px;
  padding: 32px;
  max-width: 720px;
  margin-left: 10px;
  margin-right: 10px;
  width: 95%;
  box-shadow: 0 0 20px rgba(0, 255, 170, 0.15);
}

/* Titoli */
h1 {
  color: #00ffaa;
  margin-bottom: 20px;
  text-align: center;
}

/* Testo */
p {
  line-height: 1.6;
}

/* Codice */
pre {
  background-color: #020617;
  color: #00ffaa;
  padding: 12px;
  border-radius: 4px;
  overflow-x: auto;
}

/* Input */
input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #020617;
  border: 1px solid #1f2937;
  color: #d1d5db;
  border-radius: 4px;
  font-family: inherit;
  box-sizing: border-box;
}

/* Bottone */
button {
  width: 100%;
  margin-top: 12px;
  padding: 10px;
  background-color: #00ffaa;
  color: #020617;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #00e69a;
}

/* Messaggi */
#result {
  margin-top: 10px;
  color: #f87171;
  text-align: center;
}

/* Flag */
.flag {
  text-align: center;
  color: #00ffaa;
  font-size: 1.1em;
}

.final {
  text-align: center;
}

.name {
  color: #00ffaa;   /* stesso verde di h1 */
  font-weight: bold;
}

@media (max-width: 480px) {
  .container {
    padding: 24px;
  }

  h1 {
    font-size: 1.5em;
  }

  button {
    font-size: 1.1em;
    padding: 14px;
  }

  pre {
    font-size: 0.9em;
  }
}
